

<style>
  .app-title {
    font-size: 70px;
    color: #037afb;
    font-weight: 700;
    margin: 3% 0 1% 0;
  }
  .app-subtitle {
    font-size: 40px;
    color: #f7ce68;
    font-weight: 600;
  }
  .kazuya-img {
    border-radius: 10px;
  }
  .center-text {
    text-align: center;
  }
  .logo-art {
    width: 100%;
    /* height: 30%; */
  }
  .logo-msg-grid {
    display: grid;
    grid-template-columns: 60% 40%;
  }
  .right-section {
    padding: 50px 0;
  }
  .info {
    color: gray;
    margin-top: 20px;
  }

</style>



<div class="container center-text">
  <div class="app-title">
    Welcome to Kazuya
  </div>
  <div class="logo-msg-grid">
    <%= image_tag("kazuya.jpg", :alt => "kazuya art", :class => 'logo-art') %>
    <div class="right-section">
      <div class="app-subtitle">
        Your one stop place to manage your mails.
      </div>
      <br><br>
      <%= link_to "Check Now >", mails_path, class:'btn btn-primary btn-lg' %>

    </div>

  </div>

  <p class="info">Currently, we are in Alpha phase. Till then, check out what we have and give us your feedback.</p>

</div>